.Color {
    /*主色*/
    color: #9DBC7A;
    color: #7C8D68;
    color: #547A28;
    color: #C2DEA3;
    color: #CADEB3;

    /*互补色:*/
    color: #B3748D;
    color: #866371;
    color: #742644;
    color: #D9A0B6;
    color: #D9AFBF;
}
